<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="BB.Caching" type="BB.Caching.Configuration, BB.Caching"/>
  </configSections>
  <BB.Caching>
    <connectionGroup name="node-0">
      <connections>
        <connection name="master" type="write" connectionString="12.34.56.78:1234,allowAdmin=True" />
      </connections>
    </connectionGroup>
  </BB.Caching>
</configuration>